.form > .form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}

.form input {
    font-size: 1.1em;
    font-family: inherit;
    color: inherit;
    padding: 1.1rem 1.1rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid #11122b;
    width: 92%;
    display: block;
    transition: all 0.3s;
}

.form textarea {
    margin-top: 20px;
    width: 92%;
    height: 75px;
    border-radius: 3px;
    border: 3px solid #11122b;
    font-size: 1.1rem;
    font-family: inherit;
    color: color;
    padding: .9rem;
    transition: all 0.3s;
}

.form label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 1rem;
    display: block;
    text-align: center;
    transition: all 0.3s;
    color: darkblue;
    visibility: hidden;
    opacity: 0;
}

.form input:focus, .form textarea:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
    border-bottom: 3px solid darkblue;
}

.form textarea:focus {
    outline: none;
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.1);
    border: 3px solid darkblue;
}

.form input:focus + label, .form textarea:focus + label {
    opacity: 1;
    visibility: visible;
    transform: translateY(1rem);
}

.form input:focus::-webkit-input-placeholder, .form textarea:focus::-webkit-input-placeholder {
    color: transparent;
}




